.mainContainer{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: 200px;
    margin-top: 200px;
    height: 100vh;
}

.mainLeft img {
    width: 150px;
    height: 150px;
    border: 33%;
}
.mainRight span {
    font-size: 20px;
    font-weight: 400;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mainRight{
   display: flex;
   flex-direction: column;
}



@media only screen and (max-width: 600px){
    .mainContainer{
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin: 20px;
        height: 100vh;
        
        align-items: center;
    }
    
    .mainLeft img {
        width: 150px;
        height: 150px;
        border: 33%;
    }
    .mainRight span {
        font-size: 25px;
        font-weight: 400;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .mainRight{
       display: flex;
       flex-direction: column;
    }

    #mainTitle{
        font-size: 25px;
    }
}