.App {
  
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    animation-timeline: scroll(x);


}


.brownTitle{
    font-size: 30px;
    font-family: fantasy;
    font-size: calc( 1em + 2vmin );
    font-weight: 500;
    color: brown;
    
    --x-offset: -0.0625em;
    --y-offset: 0.0625em;
    --stroke: 0.025em;
    --background-color: white;
    --stroke-color: lightblue;
    
    text-shadow: 
      
      var(--x-offset)
      var(--y-offset)
      0px
      var(--background-color), 
      
      calc( var(--x-offset) - var(--stroke) )
      calc( var(--y-offset) + var(--stroke) )
      0px
      var(--stroke-color);
}
